.LoginDiv {
    overflow: hidden;
    background-color: #e9ba8c;
    min-height: 100vh;
    width: 100%;
}

.LoginDiv .divContainer {
    height: 60vh;
    width: 80vh;
    border-radius: 10px;
    box-shadow: 0px 6px 6px 0px rgb(77, 83, 86);
    background-color: #fff;
    position: relative;
    margin: 10% auto;
    padding-top: 5px
}

.LoginDiv .title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 153, 0);
    margin: 15px 0px;
}

.LoginDiv #login_btn {
    text-align: center;
    color: #ffffff;
    background-color: #ff8c6b;
}

.LoginDiv form {
    padding: 5px 15px
}

.LoginDiv .form-control{
    border: #ff8c6b;
}

.LoginDiv form a {
    text-decoration: none;
}

.LoginDiv .forget_pass{
    left: 72%;
    position: absolute;
}

.LoginDiv .form-control{
    border-top: 1px solid #e9ba8c;
    border-left: 1px solid #e9ba8c;
    border-bottom: 3px solid #e9ba8c;
    border-right: 3px solid #e9ba8c;
  }

  @media(max-width:550px){
    .LoginDiv .divContainer {
        height: 60vh;
        width: 70vh;
    }
  }

  @media(max-width:480px){
    .LoginDiv .divContainer {
        height: 60vh;
        width: 60vh;
    }

    .LoginDiv .forget_pass {
        left: 66%;
        position: absolute;
    }
  }

  @media(max-width:400px){
    .LoginDiv .divContainer {
        height: 60vh;
        width: 50vh;
    }

    .LoginDiv .forget_pass {
        left: 15px;
        top: 82%;
        position: absolute;
    }
  }

  @media(max-width:340px){
    .LoginDiv .divContainer {
        height: 60vh;
        width: 45vh;
    }

    .LoginDiv .forget_pass {
        left: 15px;
        top: 82%;
        position: absolute;
    }

    .LoginDiv .email_verification{
        font-size: 14px;
    }
  }