.RegisterDiv {
    overflow: hidden;
    background-color: #e9ba8c;
    min-height: 120vh;
    width: 100%;
}

.RegisterDiv .divContainer {
    height: 80vh;
    width: 80vh;
    border-radius: 10px;
    box-shadow: 0px 6px 6px 0px rgb(77, 83, 86);
    background-color: #fff;
    position: relative;
    margin: 5% auto;
}

.RegisterDiv .title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 153, 0);
    padding: 15px 0px 8px 0px;
}

.RegisterDiv #register_btn {
    text-align: center;
    color: #ffffff;
    background-color: #ff8c6b;
}

.RegisterDiv form {
    padding: 5px 15px
}

.RegisterDiv form a {
    text-decoration: none;
}

.RegisterDiv .form-control{
    border-top: 1px solid #e9ba8c;
    border-left: 1px solid #e9ba8c;
    border-bottom: 3px solid #e9ba8c;
    border-right: 3px solid #e9ba8c;
  }

  @media(max-width:550px){
    .RegisterDiv .divContainer {
        height: 80vh;
        width: 70vh;
    }
  }

  @media(max-width:480px){
    .RegisterDiv .divContainer {
        height: 80vh;
        width: 60vh;
    }
  }

  @media(max-width:400px){
    .RegisterDiv .divContainer {
        height: 80vh;
        width: 50vh;
    }
}

@media(max-width:340px){
    .RegisterDiv .divContainer {
        height: 80vh;
        width: 45vh;
    }
}